<article>
  <section class="photo">
    <figure>
      <img src = "/images/bio_pic.jpg" alt = "photo of justine">
    </figure>
  </section>

  <section class="bio">
    <h2>a short bio</h2>
    <p>I grew up in the Pacific Northwest and enjoy vintage shopping, chihuahuas, and making stuff. For more on stuff I like to make, visit my Blog & Portfolio pages!</p>
  </section>
</article>
