<section class="gallery">
  <h2>
    <q>We don’t create a fantasy world to escape reality, we create it to be able to stay.
    </q>
    <p>Lynda Barry</p>
  </h2>

  <figure>
    <img src = "/images/heart_of_gold.jpg" alt = "photo of thing">
    <figcaption>"Heart of Gold"</figcaption>
  </figure>

  <figure>
    <img src = "/images/konstantin.jpg" alt = "photo of thing">
    <figcaption>"Konstantin"</figcaption>
  </figure>

  <figure>
    <img src = "/images/peach_pie.jpg" alt = "photo of thing">
    <figcaption>A peach pie!</figcaption>
  </figure>
</section>
